:root {
    --Nav-BG-Color: #333;
    --Nav-Font-Color : #f2f2f2;
    --Nav-Hover-BG: #ddd;
    --Nav-Hover-Font-Color: #000;
    --Nav-Active-BG-Color: #04aa6d;
    --Nav-Active-Font-Color: #fff;
}
.main-nav {
    overflow: hidden;
    background-color: var(--Nav-BG-Color);
}
.main-nav a {
    float: right;
    color: var(--Nav-Font-Color);
    text-align: center;
    padding: 21px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
}
.main-nav a:hover {
    background-color: var(--Nav-Hover-BG) ;
    color: var(--Nav-Hover-Font-Color);
    border-bottom: 3px solid cyan ;
}
.main-nav a.active {
  background-color: var(--Nav-Active-BG-Color);
  color: var(--Nav-Active-Font-Color);
  border-bottom: 3px solid cyan ;
}
.main-nav.logo {
    float: left;
}